<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href={% url 'add_familiar' %}>Agregar persona</a>
            </li>
            <br>
            <li>
                <a href={% url 'ver_familiar' %}>Ver personas</a>
            </li>
            <br>
            <li>
                <a href={% url 'crear_mascota' %}>Crear mascota</a>
            </li>
            <br>
            <li>
                <a href={% url 'ver_mascotas' %}>Ver mascotas</a>
            </li>
        </ul>
    </nav>
</body>
</html>