<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <form action={% url 'edit_profile' %} method="POST" class="form--wrapper" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="form--table">
            {{formulario}}
        </table>
        <input type="submit" value="Edit" class="input--submit">
    </form>
</body>
</html>