<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Perfil de {{user.username.capitalize}}</h1>
    <ul>
        <li>Nombre: {{user.first_name.capitalize}}</li>
        <li>Apellido: {{user.last_name.capitalize}}</li>
        <li>Email: {{user.email}}</li>
    </ul>
    <a href={% url 'edit_profile' %}>Editar perfil</a><br>
    <a href={% url 'password' %}>Cambiar contraseña</a><br>
    <a href={% url 'home' %}>Home</a>

</body>
</html>