<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver familiares</title>
</head>
<body>
    <p>Listado de familiares: </p><br>
    <ol>
        {% for familiar in familiares %}
        <li>
            {{familiar.nombre}} {{familiar.apellido}}
            <p>Edad: {{familiar.edad}}</p>
            <p>Nacimiento: {{familiar.nacimiento}}</p>
        </li>
        {% endfor %}
    </ol>
</body>
</html>