<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Mascota</title>
</head>
<body>
    <form action={% url 'editar_mascota' mascota.id %} method="POST" class="form--wrapper">
        {% csrf_token %}
        <table class="form--table">
            {{form}}
        </table>
        <input type="submit" value="Editar" class="input--submit">
    </form>
</body>
</html>