<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Mascotas</title>
</head>
<body>
    <div class="list--container">
        <p>Listado de Mascotas: </p><br>
        <form action={% url 'ver_mascotas' %} method="GET" class="form--wrapper">
            {{formulario}}
            <input type="submit" value="Buscar" class="input--submit">
        </form>
        
        {% if object_list %}
        <ol>
            {% for mascota in object_list %}
            <li>
                <p>Nombre: {{mascota.nombre.capitalize}} - Especie: {{mascota.especie}}</p>
                <p>Edad: {{mascota.edad}} - Nacimiento: {{mascota.nacimiento}}</p>
                
                <button><a href={% url 'editar_mascota' mascota.id %}>Editar</a></button>
                <button><a href={% url 'eliminar_mascota' mascota.id %}>Eliminar</a></button>
            </li>
            {% endfor %}
        </ol>
        {% else %}
            <p>No se encontraron resultados</p>
        {% endif %}
    </div>
</body>
</html>